@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

footer {
    grid-area: 4 / 1 / -1 / 3;
    display: flex;
    margin-top: 50px;
    height: 230px;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

footer p {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    color: #fff;
}

@media(max-width: 1200px) {
    footer {
    max-width: 90%;
    }

    footer p {
        font-size: 1.7rem;
    }
}