.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: 0.5fr 2fr auto;
    grid-template-rows: 0.3fr 1fr 0.5fr auto;
    column-gap: 5.5rem;
    margin-right: 4rem;
    top: 0;
    left: 120px;
    right: 0px;
}

@media(max-width: 1200px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
}